* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}

$color-red: rgb(211, 9, 9);
$color-gray-border: rgb(235, 235, 235);
/*--- top bar ---*/
.top-bar {
  z-index: 2000;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgb(235, 235, 235);
  background: white;
  .container-fluid {
    .row {
      .wrap {
        width: 100%;
        a {
          display: block;
          width: 100%;
        }
        img {
          height: 30px;
        }
      }
      .col-3.ball-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
        img {
          width: 30px;
        }
      }
      .col-6.leagues-icon {
        text-align: center;
        img {
          height: 35px;
        }
      }
      .col-3.top-bar-hot-deals {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5px;
        img {
          width: 100%;
        }
      }
    }
  }
}
/*--- end top bar ---*/
/*--- top nav ---*/
.top-nav {
  background: $color-red;
  a {
    color: white;
    display: flex;
    padding: 10px 5px;
    line-height: 1; /* keep all links middle vertical ^^ */
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
  .container-fluid {
    .row {
      /* col of nav including main nav and sub menu */
      .col.nav {
        .wrap {
          width: 100%;
          position: relative;
          ul.main-nav {
            display: flex;
            align-items: center;
            li {
              margin-right: 20px;
              a {
                font-weight: bold;
                span.link-text {
                  display: block;
                  margin-bottom: -3px; /* keep all links middle vertical ^^ */
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          ul.sub-menu {
            animation-duration: .3s;
            z-index: 2000;
            width: 100%;
            top: 100%;
            position: absolute;
            background: white;
            li {
              a {
                color: black
              }
            }
          }
          /* open and close sub menu */
          .icon.animate__animated {
            color: white;
            display: inline-block;
            margin-right: 15px; 
            animation-duration: 1s;
          }
        }
      }
      /* col for shopping cart */
      .col-auto.shopping-cart {
        position: relative;
        .wrap {
          a {
            position: relative;
            .shopping-cart-quantity {
              position: absolute;
              top: 2px;
              right: 0;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              font-size: 10px;
              line-height: 12px;
              text-align: center;
              color: black;
              font-weight: bold;
              background: white;
            }
          }
        }
      }
    }
  }
}
/*--- end top nav ---*/
/*--- top slide ---*/
.top-slide {
margin-top: 10px;
  .container-fluid {
    .row {
      .col {
        padding: 0;
        .wrap {
          .tns-outer {
            > button {
              display: none;
            }
            position: relative;
            /* next and back button of slide */
            .tns-controls {
              z-index: 100;
              position: absolute;
              top: 40%;
              width: 100%;
              padding: 0 5px;
              display: flex;
              justify-content: space-between;
              button {
                border: none;
                outline: none;
                background: transparent;
                color: transparent;
                width: 20px;
                height: 20px;
                background : {
                  size: cover;
                  position: center;
                  repeat: no-repeat;
                }
              }
              button[data-controls=prev] {
                background-image: url("../src/Assets/images/section-top-slide/previous-3.png")
              }
              button[data-controls=next] {
                background-image: url("../src/Assets/images/section-top-slide/next-3.png")
              }
            }
            .tns-ovh {
              .tns-inner {
                .tns-slider {
                  /* each item of slider is a div named slide-item */
                  .slide-item {
                    .background-image {
                      height: 150px;
                      background: {
                        position: center 0;
                        repeat: no-repeat;
                        size: cover;
                      }
                    }
                    .slide-caption {
                      text-align: center;
                      .title {
                        font-weight: bold;
                        font-size: 16px;
                        margin-bottom: 0;
                      }
                      .link {
                        color: white;
                        background: $color-red;
                        display: inline-block;
                        padding: 2px 5px;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: bold;
                      }
                    }
                  }
                  .slide-item.item-1 {
                    .background-image {
                      background-image: url("../src/Assets/images/section-top-slide/tot.webp")
                    }
                  }
                  .slide-item.item-2 {
                    .background-image {
                      background-image: url("../src/Assets/images/section-top-slide/arsenal.jpg")
                    }
                    .title {
                      text-shadow: 1px 1px 3px $color-red;
                    }
                  }
                  .slide-item.item-3 {
                    .background-image {
                      background-image: url("../src/Assets/images/section-top-slide/mc.jpg")
                    }
                    .title {
                      text-shadow: 1px 1px 3px #5fa5e3;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/*--- end top slide ---*/
