* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}

$color-red: rgb(211, 9, 9);
$color-gray-border: rgb(235, 235, 235);
/*--- top bar ---*/
.top-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgb(235, 235, 235);
  background: white;
  .container-fluid {
    .row {
      .wrap {
        width: 100%;
        a {
          display: block;
          width: 100%;
        }
        img {
          height: 25px;
        }
      }
      .col-3.ball-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5px;
        img {
          width: 25px;
        }
      }
      .col-6.leagues-icon {
        text-align: center;
        img {
          height: 35px;
        }
      }
      .col-3.top-bar-hot-deals {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5px;
      }
    }
  }
}
/*--- end top bar ---*/
