/*--- general set up ---*/
* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}
$color-red: rgb(211, 9, 9);
$color-gray-border: rgb(235, 235, 235);
$color-gray-bg: rgb(248, 248, 248);
$color-blue-mc: #3d88fb;
$color-gray-text: rgb(97, 96, 96);
$color-young-green: rgb(136, 223, 6);
body {
  background: $color-gray-bg;
}
/*--- end general set up ---*/
@media screen and (min-width: 375px) {
/*--- footer ---*/
  .footer {
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 50px;
              right: 50px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .top-news {
    display: none;
  }
  .checkout-link {
    overflow: hidden;
    img {
      width: 70vw !important;
      margin-left: -23px;
    }
  }
  .footer {
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 100px;
              right: 100px;
            }
          }
        }
      }
    }
  }
  .shopping-cart-product-layout {
    .row-product-buttons {
      display: none;
    }
    .image-info {
      .product-info {
        .product-btn-inside {
          display: block !important;
          .row-product-buttons {
            display: flex;
            justify-content: flex-start;
          }
        }
      }
    }
  }
  .check-out {
    .container-fluid {
      .row.toggle-product-summary {
        .col {
          .content {
            .toggle-btn {
              button {
                svg {
                  width: 3vw;
                  height: 3vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .add-to-cart-btn {
    span {
      padding: 2px 40px;
    }
    span.added {
      padding: 2px 20px;
    }
  }
}