/*--- general set up ---*/
* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}
$color-red: rgb(211, 9, 9);
$color-gray-border: rgb(235, 235, 235);
$color-gray-bg: rgb(248, 248, 248);
$color-blue-mc: #3d88fb;
$color-gray-text: rgb(97, 96, 96);
$color-young-green: rgb(136, 223, 6);
body {
  background: $color-gray-bg;
}
/*--- end general set up ---*/
@media screen and (min-width: 375px) {
/*--- footer ---*/
  .footer .container-fluid .row .col.social-media .wrap .title {
    left: 50px;
    right: 50px;
  }
}
@media screen and (min-width: 480px) {
  .homepage .top-news {
      display: none;
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .checkout-link {
    overflow: hidden;
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .checkout-link img {
    width: 70vw !important;
      margin-left: -23px;
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .checkout-link a {
    padding: 5px 40px !important;
  }
  .footer .container-fluid .row .col.social-media .wrap .title {
    left: 100px;
    right: 100px;
  }
  .shopping-cart-product-layout {
    .row-product-buttons {
      display: none;
    }
    .image-info {
      .product-info {
        .product-btn-inside {
          display: block !important;
          .row-product-buttons {
            display: flex;
            justify-content: flex-start;
          }
        }
      }
    }
  }
  .check-out .container-fluid .row.toggle-product-summary .col .content .toggle-btn button svg {
      width: 3vw;
      height: 3vw;
  }
  .add-to-cart-btn {
    span {
      padding: 2px 40px;
    }
    span.added {
      padding: 2px 20px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) { 
  .show-from-576 {
    display: inline-block !important;
  }
  .top-nav .container-fluid .row .col.nav .wrap .icon.animate__animated {
    display: none !important;
  }
  .top-nav .container-fluid .row .col.nav .wrap ul.sub-menu {
    display: none !important;
  }
  .top-slide .container-fluid .row .col .wrap #top-slide .carousel-inner .carousel-item .carousel-caption {
      font-size: 16px !important; 
  }
  .top-slide .container-fluid .row .col .wrap #top-slide .carousel-inner .carousel-item .carousel-caption .link, .top-slide .container-fluid .row .col .wrap #top-slide .carousel-inner .carousel-item .carousel-caption .title {
      height: 30px;
      line-height: 30px;
  }
  .display-homepage {
    .container-fluid {
      .row {
        /* title of each section (ĐƯỢC QUAN TÂM NHIỀU NHẤT, ....) */
        .section-title {
          .title-text {
            font-size: 18px; ////
            .icon {
              font-size: 17px;
              color:  white;
              border: none;
              padding: 0;
            }
            .football-image {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 20px 0;
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 140px;
              right: 140px;
            }
          }
        }
      }
    }
  }
  .top-bar {
    display: none;
  }
  .col.product-col {
    .wrap {
      a {
        /* hold main image of product */
        .background-image {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
        /* information of product */
        .info {
          padding: 0 10px;
          font-size: 14px;
          .name {
            color: $color-gray-text;
            height: 42px;
          }
          .price {
            font-weight: bold;
            font-size: 15px;
          }
          .price.origin {
            color: black;
            font-size: 14px;
          }
        }
        /* promotion box (SALE ...%) */
        .promotion {
          height: 45px;
          width: 45px;
          font-size: 11px;
        }
        .free-ship {
          height: 45px;
          width: 45px;
        }
        /* member point */
        .member-point {
          height: 20px;
          width: auto;
          padding: 0 2px;
          font-size: 11px;
        }
      }
    }
  }
  .add-to-cart-btn {
    span {
      padding: 2px 40px;
      border-radius: 10px;
    }
    span.added {
      padding: 2px 20px;
    }
  }
  .shopping-cart-product-layout {
    .row-product-buttons {
      display: none;
    }
    .image-info {
      .product-image {
        width: 25% !important;
        img {
          width: 20vw !important;
        }
      }
      .product-info {
        width: 75% !important;
        .name {
          font-size: 14px !important;
        }
        button[class=delete] {
          margin-left: 15px;
        }
      }
    }
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .total-amount {
      font-size: 16px;
  }
  .shopping-cart-detail .container-fluid .row.product-detail-wrapper .col .content .title {
      font-weight: normal;
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .checkout-link a {
      padding: 5px 150px !important;
      border-radius: 20px;
  }
  .also-product {
    .wrap.inside {
      a {
        /* hold main image of product */
        .background-image {
          img {
            width: 40vw !important;
            height: 40vw;
          }
        }
        /* information of product */
        .info {
          padding: 0 10px;
          font-size: 14px;
          .name {
            color: $color-gray-text;
            height: 42px;
          }
          .price {
            font-weight: bold;
            font-size: 15px;
          }
          .price.origin {
            color: black;
            font-size: 14px;
          }
        }
        /* promotion box (SALE ...%) */
        .promotion {
          height: 45px;
          width: 45px;
          font-size: 11px;
        }
        .free-ship {
          height: 45px;
          width: 45px;
        }
        /* member point */
        .member-point {
          height: 20px;
          width: auto;
          padding: 0 2px;
          font-size: 11px;
        }
      }
    }
  }
  .check-out .container-fluid .row.toggle-product-summary .col .title {
    font-size: 16px;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .field-wrapper {
    font-size: 14px;
    height: 55px;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .field-wrapper .field-top-up {
      font-size: 13px;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .error-message {
    font-size: 13px;
    font-weight: bold;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form-payment-method .title {
    font-size: 16px !important;
  }
  .check-out .container-fluid .row.check-out-form .col .content img {
    width: 70%;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .condition-agreement {
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal !important;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form-navigate {
    flex-direction: row;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form-navigate button {
    margin: 3px;
  }
  .container-fluid.product-other-info .row .col .wrap .info-type .info-detail {
    font-size: 14px;
  }
  .leagues {
    margin: 38px 0 10px 0;
  }
  .leagues .leagues-nav .wrap {
    padding: 0 10px;
  }
  .leagues .leagues-nav .wrap .links img {
    width: 8vw;
  }
  .leagues .leagues-products {
    margin-left: 12vw;
  }
  .control-loaded-quantity .load-btn {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .promotion-container {
    margin-top: 45px;
}
}
@media screen and (min-width: 768px) {
  body {
    background: #eee7db;
  }
  .top-nav .icon {
    width: 25px;
    height: 25px;
  }
  .display-homepage {
    background: transparent !important;
  }
  .display-homepage .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
  .display-homepage .container-fluid .row .section-title {
    margin-bottom: 12px;
    padding: 0 5px;
  }
  .display-homepage .container-fluid .row .section-title .background-image {
    left: 6px;
    right: 6px;
    bottom: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
  }
  .col.product-col {
    flex: 33.333333333333% !important;
    max-width: 33.333333333333% !important;
  }
  .col.product-col:nth-child(odd) {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .col.product-col:nth-child(even) {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .col.product-col .wrap a .background-image img {
    width: 20vw;
    height: 20vw;
  }
  .col.product-col .wrap {
    margin-bottom: 12px;
  }
  .col.product-col .wrap a .promotion {
    height: 40px;
    width: 40px;
  }
  .col.product-col .wrap a .free-ship {
    height: 40px;
    width: 40px;
  } 
  .add-to-cart-btn span {
    height: 25px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer .container-fluid .row .col {
    flex: 50% !important;
    max-width: 50% !important;
  }
  .footer .container-fluid .row .col.social-media .wrap .title {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    padding-top: 10px;
    background: transparent;
  }
  .footer .container-fluid .row .col {
    border-bottom: none;
  }
  .footer .container-fluid .row .col.social-media .wrap {
    border-radius: 0 20px;
  }
  .product-detail .container-fluid.slide-show {
    width: 50%;
    float: left;
  }
  .product-detail .container-fluid.product-add-to-cart {
    width: 50%;
    float: right;
  }
  .container-fluid.product-other-info {
    clear: both;
    padding-top: 20px;
  }
  .also-product .wrap.inside a .background-image img {
    width: 25vw !important;
    height: 25vw;
  }
  .shopping-cart-detail {
    margin: 45px 0 10px 0;
    padding-top: 15px;
  }
  .shopping-cart-detail .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
  .shopping-cart-detail .container-fluid .row.title-wrapper .col {
    padding: 0 5px;
  }
  .shopping-cart-detail .container-fluid .row.title-wrapper .col .content {
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    padding: 5px 10px;
    color: $color-gray-text;
  }
  .shopping-cart-detail .container-fluid .row.checkout-wrapper .col .content .checkout-link img {
    width: 50vw !important;
  }
  .container-fluid.also-container.outstanding {
    padding-top: 20px;
  }
  .also-product .wrap.inside a .promotion {
    height: 40px;
    width: 40px;
  }
  .also-product .wrap.inside a .free-ship {
    height: 40px;
    width: 40px;
  }
  .check-out .container-fluid .row.toggle-product-summary .col .content .toggle-btn button svg {
    width: 2vw;
    height: 2vw;
  }
  .check-out {
    background: white;
    margin: 45px 0 20px 0;
    padding: 15px 0;
  }
  .check-out .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
  .check-out .container-fluid .row.check-out-tile .col {
    padding: 0 5px;
  }
  .check-out .container-fluid .row.check-out-tile .col .content {
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    padding: 5px 10px;
    color: $color-gray-text;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .field-wrapper.hide-768 {
    display: none;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .error-message.hide-768 {
    display: none;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .name-show-768 {
    display: flex !important;
    flex-direction: row !important;
  }
  .check-out .container-fluid .row.check-out-form .col .content .form .name-show-768 .field-wrapper-container {
    margin-right: 5px;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
  }
  .manage-order {
    margin: 45px 0 10px 0;
    padding: 15px 0;
  }
  .manage-order .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
  .manage-order .container-fluid .row.manage-order-tile .col {
    padding: 0 5px;
  }
  .manage-order .container-fluid .row.manage-order-tile .col .content {
    width: 100%;
    justify-content: flex-start;
    background: transparent;
    padding: 5px 10px;
    color: $color-gray-text;
  }
  .manage-order .container-fluid .row.manage-order-verify .col .content .verify-announcement {
    font-size: 14px;
  }
  .leagues {
    margin: 55px 0 10px 0;
  }
  .leagues .leagues-nav {
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    padding: 0;
    margin: 0 40px;
  }
  .leagues .leagues-nav .wrap {
    height: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
  }
  .leagues .leagues-nav .wrap .links img {
    width: 5vw;
  }
  .leagues .leagues-nav .wrap .links img.laliga {
    width: 6vw;
  }
  .leagues .leagues-nav .wrap .links img.bundesliga {
    width: 6vw;
  }
  .leagues .leagues-nav .wrap .links img.seriea {
    width: 4vw;
  }
  .leagues .leagues-nav .wrap .links img.ligue1 {
    width: 4vw;
  }
  .leagues .leagues-nav .wrap .links img.all {
    width: 4vw;
  }
  .leagues .leagues-products {
    margin-left: 0;
  }
  .leagues .leagues-products .leagues-products-wrap .col.product-col:nth-child(odd) {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .leagues .leagues-products .leagues-products-wrap .col.product-col:nth-child(even) {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .leagues .leagues-products .leagues-products-wrap .leage {
    margin-bottom: 20px;
    background: transparent;
  }
  .leagues .leagues-products .leagues-products-wrap .epl .each-league-title {
    background-color: #b8004d;
  }
  .leagues .leagues-products .leagues-products-wrap .each-league-title {
    padding: 10px;
    margin: 10px 0;
    background-position: 94% center;
  }
  .leagues-products-layout {
    padding: 0 40px;
  }
  .leagues-products-layout .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
  .leagues .leagues-products .leagues-products-wrap .la-liga .each-league-title {
    background-color: #7ed300;
  }
  .leagues .leagues-products .leagues-products-wrap .bundes-liga .each-league-title {
    background-color: #ff951d;
  }
  .leagues .leagues-products .leagues-products-wrap .serie-a .each-league-title {
    background-color: #3b009b;
  }
  .leagues .leagues-products .leagues-products-wrap .ligue-1 .each-league-title {
    background-color: #00576d;
  }
  .display-homepage.special-promotion {
    margin-top: 55px;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content {
    display: flex;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .contact-info {
    display: block !important;
    width: 50%;
    margin-left: 20px;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .contact-info .title {
    margin-bottom: 20px;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .contact-info .map iframe {
    width: 100%;
    height: 400px;
    opacity: 0.8;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .about-contact {
    width: 50%;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .about-contact .title {
    margin-bottom: 20px;
  }
  .about .container-fluid .row .col .parrallax-container .parrallax-content .contact-form label {
    &:first-child {
      margin-top: 0;
    }
  }
  .add-to-cart-btn {
    display: flex;
    justify-content: center;
  }
}