/*--- general set up ---*/
* {
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
}
$color-red: rgb(211, 9, 9);
$color-gray-border: rgb(235, 235, 235);
$color-gray-bg: rgb(248, 248, 248);
$color-blue-mc: #3d88fb;
$color-gray-text: rgb(97, 96, 96);
$color-young-green: rgb(136, 223, 6);
body {
  background: $color-gray-bg;
}
/*--- end general set up ---*/
@media screen and (min-width: 375px) {
/*--- footer ---*/
  .footer {
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 50px;
              right: 50px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 480px) {
  .top-news {
    display: none;
  }
  .checkout-link {
    overflow: hidden;
    img {
      width: 70vw !important;
      margin-left: -23px;
    }
    a {
      padding: 5px 40px !important;
    }
  }
  .footer {
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 100px;
              right: 100px;
            }
          }
        }
      }
    }
  }
  .shopping-cart-product-layout {
    .row-product-buttons {
      display: none;
    }
    .image-info {
      .product-info {
        .product-btn-inside {
          display: block !important;
          .row-product-buttons {
            display: flex;
            justify-content: flex-start;
          }
        }
      }
    }
  }
  .check-out {
    .container-fluid {
      .row.toggle-product-summary {
        .col {
          .content {
            .toggle-btn {
              button {
                svg {
                  width: 3vw;
                  height: 3vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .add-to-cart-btn {
    span {
      padding: 2px 40px;
    }
    span.added {
      padding: 2px 20px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) { 
  .show-from-576 {
    display: inline-block !important;
  }
  .top-nav {
    .container-fluid {
      .row {
        .col.nav {
          .wrap {
            .icon.animate__animated {
              display: none !important;
            }
            ul.sub-menu {
              display: none !important;
            }
          }
        }
      }
    }
  }
  .top-slide {
    .container-fluid {
      .row {
        .col {
          .wrap {
            #top-slide{
              .carousel-inner {
                .carousel-item {
                  .carousel-caption {
                    font-size: 16px !important; 
                    .link, .title {
                      height: 30px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .display-homepage {
    .container-fluid {
      .row {
        /* title of each section (ĐƯỢC QUAN TÂM NHIỀU NHẤT, ....) */
        .section-title {
          .title-text {
            font-size: 18px; ////
            .icon {
              font-size: 17px;
              color:  white;
              border: none;
              padding: 0;
            }
            .football-image {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 20px 0;
    .container-fluid {
      .row {
        .col.social-media {
          .wrap {
            .title {
              left: 140px;
              right: 140px;
            }
          }
        }
      }
    }
  }
  .top-bar {
    display: none;
  }
  .col.product-col {
    .wrap {
      a {
        /* hold main image of product */
        .background-image {
          img {
            width: 40vw;
            height: 40vw;
          }
        }
        /* information of product */
        .info {
          padding: 0 10px;
          font-size: 14px;
          .name {
            color: $color-gray-text;
            height: 42px;
          }
          .price {
            font-weight: bold;
            font-size: 15px;
          }
          .price.origin {
            color: black;
            font-size: 14px;
          }
        }
        /* promotion box (SALE ...%) */
        .promotion {
          height: 45px;
          width: 45px;
          font-size: 11px;
        }
        .free-ship {
          height: 45px;
          width: 45px;
        }
        /* member point */
        .member-point {
          height: 20px;
          width: auto;
          padding: 0 2px;
          font-size: 11px;
        }
      }
    }
  }
  .add-to-cart-btn {
    span {
      padding: 2px 40px;
      border-radius: 10px;
    }
    span.added {
      padding: 2px 20px;
    }
  }
}